body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    background-image: url("https://cdn.businessinsider.es/sites/navi.axelspringer.es/public/media/image/2018/08/tecnologia-aulas.jpg?tf=3840x");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


.container {
    max-width: 400px;
    margin: 10% auto;
    padding: 20px 40px;
    background-color: #def0fb;
    border-radius: 3px; 
    border: 1px solid rgba(31, 31, 31, .5);
}

#btn-ingresar button, #btn-registrarse button {
    width: 100%;
}

#btn-ingresar button {
    background-color: #ffff4b;
    color: red;
}

#btn-registrarse #loginGoogleBtn {
    background-color: #ee7e25;
    color: #fff;
}

#showRegisterForm span {
    text-decoration: none;
}

#correo-container {
    margin-bottom: -10px;
}

#stars-word, #hub-word{    
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    animation: pulsecolor 1.25s infinite;
  }
  
  #stars-word, #stars-word a {    
      color: #38b6ff;
      font-weight: 800;
      font-style: normal;
      letter-spacing: -3px;
      line-height: 45px;
      font-size: 3rem;
      text-decoration: none;
      cursor: pointer;
  }
  
  #hub-word {
      font-weight: 600;
      color: #ee7e25;
      font-size: .6rem;
      text-transform: uppercase;
      letter-spacing: 4px;
      transform: translate(10%, 0%);
  }

  #logo-container {
    display:flexbox;
    justify-content: center;
    align-items: center;
    scale: 1.3;
  }


  #logo {
    max-width: 110px;
    height: auto;
    animation: rubberBand 2.5s ease-in infinite;
    display:flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
#logo div {
    background-color: #38b6ff;
    width: 10px;
    height: 7px;
    transform: translate(700%, -250%);
}
  #star-icon {
    position: absolute;
    color: #def0fb;
    font-size: .65rem;
    transform: translate(-1%, -130%);
  }
  
@keyframes pulsecolor {
      50% {
      text-shadow: 0px 0px 30px #c4c0f8;
      }
}

